@charset "UTF-8";
/* w oknie polece┼ä:  sass --watch sass/style.sass:css/style.css --style expanded */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #DCE7E7;
  font-size: 1.45vw;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.6em;
}
@media screen and (max-device-width: 400px) {
  h1 {
    font-size: 3em;
  }
}
@media (min-width: 400px) and (max-width: 700px) {
  h1 {
    font-size: 2.8em;
  }
}
@media (min-width: 700px) and (max-width: 1000px) {
  h1 {
    font-size: 1.8em;
  }
}

p {
  margin-top: 1em;
  font-size: 0.8em;
  letter-spacing: 1px;
}
@media screen and (max-device-width: 400px) {
  p {
    font-size: 2.2em;
  }
}
@media (min-width: 400px) and (max-width: 700px) {
  p {
    font-size: 1.8em;
  }
}
@media (min-width: 700px) and (max-width: 1000px) {
  p {
    font-size: 1em;
  }
}

.row {
  display: flex;
  width: 100%;
  height: 100%;
}
@media screen and (max-device-width: 400px) {
  .row {
    flex-direction: column;
  }
}
@media (min-width: 400px) and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}
@media (min-width: 700px) and (max-width: 1000px) {
  .row {
    flex-direction: column;
  }
}

.text {
  flex: 2;
}
@media (min-width: 400px) and (max-width: 700px) {
  .text {
    flex: 1.8;
  }
}
@media (min-width: 700px) and (max-width: 1000px) {
  .text {
    flex: 1.6;
  }
}

.background {
  position: fixed;
  top: 0%;
  left: 0%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  overflow: hidden;
}
@media screen and (max-device-width: 400px) {
  .background {
    left: -130%;
  }
}
@media (min-width: 400px) and (max-width: 700px) {
  .background {
    left: -80%;
  }
}
@media (min-width: 700px) and (max-width: 1000px) {
  .background {
    left: -20%;
  }
}

.first {
  width: 90%;
  height: 90%;
  background: rgba(20, 170, 255, 0.5);
  padding: 40px;
  position: absolute;
  left: 5%;
  top: 170px;
  visibility: hidden;
  animation: reda 2s;
  animation-delay: 3.5s;
  animation-timing-function: easy-out;
  animation-fill-mode: forwards;
}
@media screen and (max-device-width: 400px) {
  .first {
    padding: 10px 10px 10px 10px;
    top: 202px;
  }
}
@media (min-width: 400px) and (max-width: 700px) {
  .first {
    padding: 40px 15px 15px 15px;
  }
}

@keyframes reda {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(-150px);
    visibility: visible;
  }
}
.second {
  margin: 1em auto;
  width: 95%;
  height: 95%;
  background: rgba(10, 160, 255, 0.5);
  border: 1px solid #DCE7E7;
  padding: 30px;
  display: flex;
  overflow: hidden;
}
@media screen and (max-device-width: 400px) {
  .second {
    flex-direction: column;
    padding: 5px;
  }
}
@media (min-width: 400px) and (max-width: 700px) {
  .second {
    flex-direction: column;
    padding: 5px;
  }
}
@media (min-width: 700px) and (max-width: 1000px) {
  .second {
    flex-direction: column;
    padding: 10px;
  }
}

.first-element {
  background-image: url("../images/joanna-mostowska.png");
  background-size: cover;
  background-position: 10% 15%;
  flex: 1;
  margin: 15px 40px;
  height: 90%;
}
@media screen and (max-device-width: 400px) {
  .first-element {
    flex: 1.6;
    margin: 5px 10px;
  }
}
@media (min-width: 400px) and (max-width: 700px) {
  .first-element {
    margin: 15px 20px;
  }
}
@media (min-width: 700px) and (max-width: 1000px) {
  .first-element {
    background-position: 10% 35%;
  }
}

.second-element {
  color: white;
  margin: 15px 40px;
  flex: 1;
  height: 90%;
}
@media screen and (max-device-width: 400px) {
  .second-element {
    flex: 1.4;
    margin: 5px 10px;
  }
}
@media (min-width: 400px) and (max-width: 700px) {
  .second-element {
    margin: 15px 20px;
  }
}

.s-navigation {
  position: fixed;
  top: 0%;
  left: 0%;
  min-width: 100%;
  min-height: 50px;
  z-index: 1;
  background: linear-gradient(to left, #14aaff, #0aa0ff);
  color: #DCE7E7;
}

.hamburger-menu {
  width: 100%;
  height: auto;
  position: relative;
}
.hamburger-menu input {
  display: block;
  cursor: pointer;
  opacity: 0;
  width: 30px;
  height: 30px;
  float: left;
  margin-left: 80%;
  margin-top: 2%;
  position: absolute;
  z-index: 5;
}
.hamburger-menu span {
  display: block;
  width: 20px;
  height: 10px;
  font-size: 30px;
  color: #DCE7E7;
  text-align: center;
  position: absolute;
  margin-left: 80%;
  margin-top: 1%;
  z-index: 2;
}
.hamburger-menu ul {
  display: none;
  position: absolute;
  margin-top: 10%;
  height: auto;
  width: 100%;
  background: #14aaff;
  list-style: none;
}
@media (min-width: 400px) and (max-width: 700px) {
  .hamburger-menu ul {
    margin-top: 5%;
  }
}
@media (min-width: 700px) and (max-width: 1000px) {
  .hamburger-menu ul {
    margin-top: 5%;
  }
}
.hamburger-menu ul a {
  text-decoration: none;
  display: block;
  text-align: center;
  margin-top: 10px;
  border-bottom: 1px solid #DCE7E7;
  padding-bottom: 15px;
}
.hamburger-menu ul a li {
  font-size: 4em;
  text-transform: uppercase;
}
@media (min-width: 400px) and (max-width: 700px) {
  .hamburger-menu ul a li {
    font-size: 2em;
  }
}
@media (min-width: 700px) and (max-width: 1000px) {
  .hamburger-menu ul a li {
    font-size: 2em;
  }
}
.hamburger-menu ul a:last-of-type {
  border-bottom: none;
}

input:checked ~ ul {
  display: block;
}

@media (min-width: 1000px) {
  .s-navigation {
    display: none;
  }

  .navigation {
    text-transform: uppercase;
  }
  .navigation ul {
    list-style: none;
    float: right;
    margin: -15px 30px 5px;
  }
  .navigation ul li {
    display: inline-block;
    padding: 0 10px;
    letter-spacing: 1px;
    font-size: 0.8em;
  }
  .navigation ul li a {
    text-decoration: none;
  }
}
@media screen and (max-device-width: 400px) {
  .navigation {
    display: none;
  }
}
@media (min-width: 400px) and (max-width: 700px) {
  .navigation {
    display: none;
  }
}
@media (min-width: 700px) and (max-width: 1000px) {
  .navigation {
    display: none;
  }
}
.container-1 {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: 100vh;
  background-color: #0aa0ff;
  position: absolute;
  left: 0;
  top: 100vh;
}

.back-imagin-1 {
  flex: 3;
  height: auto;
  width: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/asia-tybet.png");
  background-position: 50% 0%;
}
@media screen and (max-device-width: 400px) {
  .back-imagin-1 {
    flex: 1;
  }
}
@media (min-width: 400px) and (max-width: 700px) {
  .back-imagin-1 {
    flex: 1.2;
  }
}
@media (min-width: 700px) and (max-width: 1000px) {
  .back-imagin-1 {
    flex: 1.4;
  }
}
@media screen and (max-device-width: 400px) {
  .back-imagin-1 {
    background-position: 90% 70%;
  }
}
@media (min-width: 400px) and (max-width: 700px) {
  .back-imagin-1 {
    background-position: 80% 75%;
  }
}
@media (min-width: 700px) and (max-width: 1000px) {
  .back-imagin-1 {
    background-position: 0 60%;
  }
}

.container-2 {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: 100vh;
  background-color: #0aa0ff;
  position: absolute;
  left: 0;
  top: 200vh;
}
.container-2 .row {
  flex-direction: row-reverse;
}
@media screen and (max-device-width: 400px) {
  .container-2 .row {
    flex-direction: column;
  }
}
@media (min-width: 400px) and (max-width: 700px) {
  .container-2 .row {
    flex-direction: column;
  }
}
@media (min-width: 700px) and (max-width: 1000px) {
  .container-2 .row {
    flex-direction: column;
  }
}

.back-imagin-2 {
  flex: 3;
  height: auto;
  width: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/asia-sval.png");
}
@media screen and (max-device-width: 400px) {
  .back-imagin-2 {
    flex: 1;
  }
}
@media (min-width: 400px) and (max-width: 700px) {
  .back-imagin-2 {
    flex: 1.2;
  }
}
@media (min-width: 700px) and (max-width: 1000px) {
  .back-imagin-2 {
    flex: 1.4;
  }
}
@media screen and (max-device-width: 400px) {
  .back-imagin-2 {
    background-position: 0 60%;
  }
}
@media (min-width: 400px) and (max-width: 700px) {
  .back-imagin-2 {
    background-position: 0 75%;
  }
}
@media (min-width: 700px) and (max-width: 1000px) {
  .back-imagin-2 {
    background-position: 0 50%;
  }
}

.container-3 {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: 100vh;
  background-color: #0aa0ff;
  position: absolute;
  left: 0;
  top: 300vh;
}

.back-imagin-3 {
  flex: 3;
  height: auto;
  width: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/asia-har.png");
  background-position: 98% 30%;
}
@media screen and (max-device-width: 400px) {
  .back-imagin-3 {
    flex: 1;
  }
}
@media (min-width: 400px) and (max-width: 700px) {
  .back-imagin-3 {
    flex: 1.2;
  }
}
@media (min-width: 700px) and (max-width: 1000px) {
  .back-imagin-3 {
    flex: 1.4;
  }
}
@media screen and (max-device-width: 400px) {
  .back-imagin-3 {
    background-position: 60% 60%;
  }
}
@media (min-width: 400px) and (max-width: 700px) {
  .back-imagin-3 {
    background-position: 60% 75%;
  }
}
@media (min-width: 700px) and (max-width: 1000px) {
  .back-imagin-3 {
    background-position: 60% 50%;
  }
}

.rotate {
  perspective: 2000px;
  position: relative;
  margin: 0 auto;
}
.rotate .rotate-horizontal {
  position: absolute;
  transition: transform 1s;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.rotate .rotate-horizontal .one {
  margin: 2.5em auto;
  padding: 2.5em;
  border: 1px solid #DCE7E7;
  width: 80%;
  height: 85%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 2.5em;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
@media screen and (max-device-width: 400px) {
  .rotate .rotate-horizontal .one {
    width: 85%;
    height: 90%;
  }
}
@media (min-width: 400px) and (max-width: 700px) {
  .rotate .rotate-horizontal .one {
    width: 85%;
    height: 90%;
    padding: 2em;
  }
}
@media (min-width: 700px) and (max-width: 1000px) {
  .rotate .rotate-horizontal .one {
    width: 90%;
    padding: 1.5em;
  }
}
.rotate .rotate-horizontal .two {
  margin: 2.5em auto;
  padding: 2.5em;
  border: 1px solid #DCE7E7;
  width: 80%;
  height: 85%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 2.5em;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
@media screen and (max-device-width: 400px) {
  .rotate .rotate-horizontal .two {
    width: 85%;
    height: 90%;
  }
}
@media (min-width: 400px) and (max-width: 700px) {
  .rotate .rotate-horizontal .two {
    width: 85%;
    height: 90%;
    padding: 2em;
  }
}
@media (min-width: 700px) and (max-width: 1000px) {
  .rotate .rotate-horizontal .two {
    width: 90%;
    padding: 1.5em;
  }
}
.rotate .rotate-horizontal .two {
  transform: rotateY(180deg);
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.rotate:hover .rotate-horizontal {
  transform: rotateY(180deg);
}

/*# sourceMappingURL=style.css.map */
